body,
body * {
    margin-left: 20px;
    padding: 20px;
    vertical-align: top;
    box-sizing: border-box;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
}